<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <script>
    if (window.location.protocol === "about:") {
      document.write('<base href="chrome://about-history/content/" />');
    }
    </script>
    <link href="css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/datepicker3.css" media="all" rel="stylesheet" type="text/css" />
    <link href="css/history.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <button type="button" class="btn btn-lg" id="date-back">Yesterday</button>
    <button type="button" class="btn btn-lg" id="date-forward">Tomorrow</button>

    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h2 ><span class="text-muted">about:</span>history</h2>
          <button type="button" id="date" class="btn btn-default">date</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <form role="form">
            <h2><input class="form-control" placeholder="Filter" type="search" id="query" name="query"></h2>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="history-items">
            <ol id="history-list-view" class="list-unstyled"></ol>
          </div>
        </div>
      </div>
    </div>

    <script type="text/template" id="history-item-template">
      <div class="row <%- selected() %>">
        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <div class="circle"></div>
          <hr class="line">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <button class="btn btn-sm action-expand" data-toggle="button">

          </button>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <span title="<%- get('time').calendar() %>" class="time text-muted"><%- get('time').format("h:mm a") %></span>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <% if (isBookmarked()) { %>
            <div class="bookmarked icon"/>
          <% } %>
          <% if (hasImage()) { %>
          <img class="center-block img-responsive image" />
          <% } %>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="row">

            <div class="favicon col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <% if (favicon()) {  %>
                <img class="favicon" src="<%- favicon() %>" />
              <% } %>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <a href="<%- get('url') %>" title="<%- title() %>" target="_blank" class="title"><%- title() %></a>
              <div title="<%- get('url') %>" class="text-muted host"><%- get('host') %></div>
              <div class="block-description hidden meta">
                <% if (description()) { %>
                  <blockquote class="text-description text-muted small"><%- description() %></blockquote>
                  <% if (has('referrer')) { %><div><%- get('referrer') %></div><% } %>
                <% } %>
              </div>
              <% if (has('twitter:site') || has('twitter:creator')) { %>
              <div>
                <a href="<%- twitterURL(get('twitter:site')) %>" target="_blank" class="twitter-handle">
                  <%- get('twitter:site') %>
                </a>
                <% if (get('twitter:creator') != get('twitter:site')) { %>
                  <%- get('twitter:creator') ? " via " : "" %>
                  <a href="<%- twitterURL(get('twitter:creator')) %>" target="_blank" class="twitter-handle">
                    <%- get('twitter:creator') %>
                  </a>
                <% } %>
              </div>
              <% } %>
              <% if (description()) { %>
                <div class="action-ellipsis">...</div>
              <% } %>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <ol class="list-unstyled meta invisible">
                <li><a href="<%- get('url') %>" title="Open in a new Tab" target="_blank">Open</a></li>
                <li><a href="" id="action-delete">Delete</a></li>
                <li><a href="" id="action-delete-related">Delete all related</a></li>
                <li><a href="" id="action-search-related">View all related</a></li>
              </ol>
            </div>

          </div>
        </div>

      </div>
    </script>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="lasthistory">
          <h2>We can’t go back any further!</h2>
            <img src="images/car.png"/>
          <p>No more history items left to display.</p><br>
          <p><a href="#top">Back to top</a></p>
        </div>
     </div>
      <div id="footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="#top"><img src="images/up.png"/></a>
        <p>Brought to you by</p>
        <p><a class="twitter-handle" target="_blank" href="https://twitter.com/antlam7">@antlam7</a>, <a class="twitter-handle" target="_blank" href="https://twitter.com/clarkbw">@clarkbw</a>, <a class="twitter-handle" target="_blank" href="https://twitter.com/erikvold">@erikvold</a></p><br>
        <p>Follow this project on</p>
        <p><a class="twitter-handle" target="_blank" href="https://github.com/clarkbw/about-history">github.com/clarkbw/about-history</a></p>
      </div>

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/moment-with-langs.min.js" type="text/javascript"></script>
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src="js/backbone-min.js" type="text/javascript"></script>
    <script src="js/react.min.js" type="text/javascript"></script>
    <script src="js/button.js" type="text/javascript"></script>
    <script src="js/tooltip.js" type="text/javascript"></script>
    <script src="js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script>
    if (/^(?:file|https?):/.test(window.location.protocol)) {
      document.write('<script src="../../test/test.js"><\/script>');
    }
    </script>
    <script src="js/history.js" type="text/javascript;version=1.8"></script>
    <script src="js/history-shortcuts.js" type="text/javascript;version=1.8"></script>
  </body>
</html>
